* {
  border-radius: 0;
}

window {
    font-family: FontAwesome, Terminess Nerd Font;
    font-size: 12px;
    min-height: 0;
    background-color: black;
    transition-property: background-color;
    transition-duration: .5s;
    color: #ffffff;
    border: none;
}

button {
  min-height: 21px;
  min-width: 14px;
  padding: 0 5px;
  background: black;
}

river-tag button {
  background: black;
  border: none;
  color: #444444;
}

river-tag button.focused {
    background: rgba(130, 130, 130, 0.2);
    box-shadow: inherit;
    border-bottom: 1px solid #ffffff;
}

river-tag button.urgent {
    box-shadow: inherit;
    color: #eb4b4b;
}

river-tag button.occupied {
    box-shadow: inherit;
    color: #ffffff;
}

sway-workspace button {
  background: black;
  border: none;
  color: #444444;
}

sway-workspace button.focused {
    background: rgba(130, 130, 130, 0.2);
    box-shadow: inherit;
    border-bottom: 1px solid #ffffff;
}

sway-workspace button.urgent {
    box-shadow: inherit;
    color: #eb4b4b;
}

sway-workspace button.occupied {
    box-shadow: inherit;
    color: #ffffff;
}
